.prod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card {
    background-color: beige;
    width: 126px;
    height: auto;
    justify-content: space-between;
}
.card-img-top{
    width: 115px;
    height: 115px;
    align-items: center;
    margin: none;
    padding: none;
   
}
//MIXIN
@mixin sizes ($width, $height, $align) {
    height: $height;
    width: $width;
    align-items: $align;
}
.card-img-top{
    @include sizes (115px, 115px, center);
} 



//MAPS
$productos: (
    ceramico: beige, 
    griferia:beige,
    alacenasybajomesadas: beige,
);
@each $prod, $color in $productos {
    .prod-#{$prod} {
        background-color: $color;
        width: 126px;
        height: auto;
        justify-content: space-between;
    }
}

.card-body h5{
    font-size: $size-320-prim ;
}
.card-body p{
    font-size: $size-320-sec;
}
.btn{
    font-size: $size-320-sec;
}
@media screen and (min-width:768px) {
    .card { 
        width: 210px;
        height: auto;
    }
    //MIXIN

    .card-img-top{
        @include sizes (200px, 200px, center);
    } 
    //MAPS
   
@each $prod, $color in $productos {
    .prod-#{$prod} {
        background-color: $color;
        width: 210px;
        height: auto;
        justify-content: space-between;
    }
}

    .card-img-top{
        width: 200px;
        height: 200px;
        margin: none;
        padding: none;

    }
    .card-body h5{
        font-size: $size-768-prim ;
    }
    .card-body p{
        font-size: $size-768-sec;
    }
    .btn{
        font-size: $size-768-sec;
    }
}

@media screen and (min-width:1024px)  {

    .card { 
        width: 300px;
        height: auto;
    }
    //MIXIN

    .card-img-top{
        @include sizes (290px, 290px, center);
    } 

    //MAPS
    
    @each $prod, $color in $productos {
        .prod-#{$prod} {
            background-color: $color;
            width: 300px;
            height: auto;
            justify-content: space-between;
            padding: 5px 5px;
        }
    }
    .card-img-top{
        width: 290px;
        height: 290px;
        margin: none;
        padding: none;

    }

    .card-body h5{
        font-size: $size-1024-prim ;
    }
    .card-body p{
        font-size: $size-1024-sec;
    }
    .btn{
        font-size: $size-1024-sec;
    }

}